
<head>
  <title>Bootstrap 3</title>
  <meta name= "viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  
      
 
     
     
     
      <div class="row">
        <div class="large-12 columns">
        <div id="slider" style= "text-align:center;">
     
  <div id = "myCarousel" class="carousel slide">
    <ol class= "carousel-indicators">
      <li data-target = "#myCarousel" data-slide-to= "0" class="active"></li>
      <li data-target = "#myCarousel" data-slide-to= "1" ></li>
      <li data-target = "#myCarousel" data-slide-to= "2" ></li>
      <li data-target = "#myCarousel" data-slide-to= "3" ></li>
    </ol>
    <div class = "carousel-inner">
      <div class= "item active">
        <%= image_tag("3kualiti.jpg", alt: "tesla", class: "img-responsive")%>
        <div class="carousel-caption" style="font:arial">
          <h1 style= "margin-bottom: 180px;">BTHO BATCH</h1>
        </div>
      </div>

      <div class= "item ">
        <%= image_tag("reunion_alip.jpg", alt: "tesla", class: "img-responsive")%> 
        <div class= "carousel-caption">
<h3 style="margin-bottom: 230px;"></h3>
        </div>      
      </div>

      <div class= "item ">
        <%= image_tag("3kualiti2.jpg", alt: "tesla", class: "img-responsive")%>  
        <div class= "carousel-caption">
          <h1 style="margin-bottom: 130px;margin-left: 90px;"></h1>
        </div>    

      </div>

      <div class= "item ">
        <%= image_tag("btho2.jpg", alt: "tesla", class: "img-responsive")%> 
        <div class= "carousel-caption">
<h3 style="margin-bottom: 230px;margin-left: 0px;margin-right: 200px;"></h3>
        </div>         
      </div>
    </div>


    <a href="#myCarousel" class="carousel-control left" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a href="#myCarousel" class="carousel-control right" data-slide="next">
      <span class="icon-next"></span>
    </a>
  </div>
        </div>
        <hr/>
        </div>
      </div>
      


    <div class="border" style="text-align:center; margin-left:30px;">
      <div class="row" style="width:100%; display: table;">
        <h1 styele="text-align:center;">Our Friends's lists!!</h1>
        <div style="display: table-row;">
        <div class="large-4 columns" style="display: table-cell;">
          <%= image_tag("waisiong2.jpg", style: "width:200px;")%>
          <h4>See Tho Wai Siong</h4>
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef. <br><a href="">facebook: see tho wai siong</a></p>
        </div>
        
        <div class="large-4 columns" style="display: table-cell;" >
           <%= image_tag("aku.jpg")%>
          <h4>Muhd Izzuddin</h4>
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.<br><a href="">facebook: izzuddin</a></p>
        </div>
        
        <div class="large-4 columns" style="display: table-cell;" >
           <%= image_tag("shuk.png", style: "width:230px")%>
          <h4>Shukry Sharby</h4>
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.<br><a href="">facebook: shukry</a></p>
        </div>





        </div>
        </div>
     


    <div class="row">
        <div class="large-12 columns">
        
          <div class="panel">
            <h4>Get in touch!</h4>
                
            <div class="row">
              <div class="large-9 columns">
                <p>We'd love to hear from you, you attractive person you.</p>
              </div>
              <div class="large-3 columns">
                <a href="#" class="radius button right">Contact Us</a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
     
       
      
      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>© Copyright no one at all. Go to town.</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div> 
      </footer>
</body>