<!DOCTYPE html>
<html>
<head>
  <title>Devise</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<nav class="navbar navbar-inverse">
	<div id="user_nav">
    <ul><%= image_tag("bthobatch.png", style: "float:left;")%></ul>
    <%= image_tag("make_donation.png", style: "height:45px; margin-top:15px; margin-left:225px;")%>
		<% if user_signed_in? %>
		Signed in as <%= current_user.email %>. Not you?
			<%= link_to "Sign out", destroy_user_session_path, :method => :delete, style: "float:right;" %>
		<% else %>

		<%= link_to image_tag("sign_up.png", style: "margin-top:15px;"), new_user_registration_path, style: "float:right;" %> 
     <%= link_to image_tag("sign_in.png", style: "margin-top:15px;margin-right:5px;"), new_user_session_path, style: "float:right;" %>
		<%end%>
	</div>
</nav>
	<% flash.each do |name, msg|%>
	<%= content_tag :div, msg, :id => "flash_#{name}" %>

<%end%>
<%= yield %>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
